// font color

$font-color-first: #fff;
$font-color-second: #323232;
$font-color-third: #999999;
$font-color-fourth: #000;
$font-color-fifth: #4985FF;
$font-color-sixth: #F6F6F8;
$font-color-seventh: #E0E0E0;
$font-color-eighth: #b3c9ce;
$font-color-ninth: #F2F2F2;